In [1]:
import pandas as pd

In [2]:
df_crawl = pd.read_csv('dataset_review_tokped.csv', index_col=[0])

In [3]:
df_crawl

                                                 Review  Rating
0                                              maaantap       5
1                                          Enak & segar       5
2                                               maknyus       5
3     Dari berat 500 gram yg remuk 59 gram.\nEntah d...       4
4                        enak banget, fresh dan renyah!       5
...                                                 ...     ...
5423                    good product, trusted seller üëçüëç       5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [4]:
#remove messy enter charracter
df_crawl.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)

In [5]:
df_crawl

                                                 Review  Rating
0                                              maaantap       5
1                                          Enak & segar       5
2                                               maknyus       5
3     Dari berat 500 gram yg remuk 59 gram. Entah da...       4
4                        enak banget, fresh dan renyah!       5
...                                                 ...     ...
5423                    good product, trusted seller üëçüëç       5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [6]:
import re

In [7]:
#remove emoji
df_crawl['Review'] = df_crawl['Review'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)
# df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
df_crawl

C:\Users\fathi\AppData\Local\Temp\ipykernel_9816\2991273800.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_crawl['Review'] = df_crawl['Review'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)

                                                 Review  Rating
0                                              maaantap       5
1                                           Enak  segar       5
2                                               maknyus       5
3     Dari berat 500 gram yg remuk 59 gram. Entah da...       4
4                         enak banget, fresh dan renyah       5
...                                                 ...     ...
5423                      good product, trusted seller        5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [8]:
#conver data to lowercase
df_crawl['Review'] = df_crawl['Review'].str.lower()
df_crawl

                                                 Review  Rating
0                                              maaantap       5
1                                           enak  segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram. entah da...       4
4                         enak banget, fresh dan renyah       5
...                                                 ...     ...
5423                      good product, trusted seller        5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [9]:
# remove punctuation
df_crawl["Review"] = df_crawl['Review'].str.replace('[^\w\s]',' ')
df_crawl

C:\Users\fathi\AppData\Local\Temp\ipykernel_9816\289988659.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_crawl["Review"] = df_crawl['Review'].str.replace('[^\w\s]',' ')

                                                 Review  Rating
0                                              maaantap       5
1                                           enak  segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram  entah da...       4
4                         enak banget  fresh dan renyah       5
...                                                 ...     ...
5423                      good product  trusted seller        5
5424                              sudah beli yg ke 3          5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [10]:
# multiple space
df_crawl['Review'] = df_crawl['Review'].str.replace(' {2,}', ' ', regex=True)
df_crawl['Review'] = df_crawl['Review'].str.strip()
df_crawl

                                                 Review  Rating
0                                              maaantap       5
1                                            enak segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram entah dar...       4
4                          enak banget fresh dan renyah       5
...                                                 ...     ...
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [11]:
#Drop Empty Rows
print(df_crawl.isnull().sum())
df_crawl.dropna(inplace = True)
print(df_crawl.isnull().sum())
df_crawl['Review'].astype(bool)
df_crawl = df_crawl[df_crawl['Review'].astype(bool)]
df_crawl

Review    305
Rating      0
dtype: int64
Review    0
Rating    0
dtype: int64

                                                 Review  Rating
0                                              maaantap       5
1                                            enak segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram entah dar...       4
4                          enak banget fresh dan renyah       5
...                                                 ...     ...
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5028 rows x 2 columns]

In [12]:
#Removes duplicates in place
df_crawl.drop_duplicates(keep=False, inplace=True)
df_crawl

C:\Users\fathi\AppData\Local\Temp\ipykernel_9816\1534827894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crawl.drop_duplicates(keep=False, inplace=True)

                                                 Review  Rating
10                                        enak kuacinya       5
12    pengiriman cepat packing bagus sesuai pesanan ...       5
13    pengemasan luar biasa baik untuk rasa menurut ...       4
15                                      terimakasih min       5
16                   udah order untuk kesekian kali jos       5
...                                                 ...     ...
5421  seller sangat responsif rasa belum dicoba kare...       5
5422                          imut2 banget packing aman       5
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4

[4060 rows x 2 columns]

In [13]:
# saving the dataset
df_crawl.to_csv('dataset_review_tokped_cleaned.csv', index=False)
df_crawl

                                                 Review  Rating
10                                        enak kuacinya       5
12    pengiriman cepat packing bagus sesuai pesanan ...       5
13    pengemasan luar biasa baik untuk rasa menurut ...       4
15                                      terimakasih min       5
16                   udah order untuk kesekian kali jos       5
...                                                 ...     ...
5421  seller sangat responsif rasa belum dicoba kare...       5
5422                          imut2 banget packing aman       5
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4

[4060 rows x 2 columns]

In [14]:
# Labeling Dataset

In [15]:
#dataset from crawling process
df_crawl_cleaned = pd.read_csv('dataset_review_tokped_cleaned.csv')
df_crawl_cleaned

                                                 Review  Rating
0                                         enak kuacinya       5
1     pengiriman cepat packing bagus sesuai pesanan ...       5
2     pengemasan luar biasa baik untuk rasa menurut ...       4
3                                       terimakasih min       5
4                    udah order untuk kesekian kali jos       5
...                                                 ...     ...
4055  seller sangat responsif rasa belum dicoba kare...       5
4056                          imut2 banget packing aman       5
4057                        good product trusted seller       5
4058                                 sudah beli yg ke 3       5
4059                                    byk campurannya       4

[4060 rows x 2 columns]

In [16]:
print(df_crawl_cleaned.shape)

(4060, 2)

In [17]:
df_crawl_cleaned["Sentiment"] = " "
df_crawl_cleaned

                                                 Review  Rating Sentiment
0                                         enak kuacinya       5
1     pengiriman cepat packing bagus sesuai pesanan ...       5
2     pengemasan luar biasa baik untuk rasa menurut ...       4
3                                       terimakasih min       5
4                    udah order untuk kesekian kali jos       5
...                                                 ...     ...       ...
4055  seller sangat responsif rasa belum dicoba kare...       5
4056                          imut2 banget packing aman       5
4057                        good product trusted seller       5
4058                                 sudah beli yg ke 3       5
4059                                    byk campurannya       4

[4060 rows x 3 columns]

In [18]:
import time

In [19]:
# saving the dataset
df_crawl_cleaned.to_csv('dataset_review_tokped_labelled.csv', index=False)
df_crawl_cleaned

                                                 Review  Rating Sentiment
0                                         enak kuacinya       5
1     pengiriman cepat packing bagus sesuai pesanan ...       5
2     pengemasan luar biasa baik untuk rasa menurut ...       4
3                                       terimakasih min       5
4                    udah order untuk kesekian kali jos       5
...                                                 ...     ...       ...
4055  seller sangat responsif rasa belum dicoba kare...       5
4056                          imut2 banget packing aman       5
4057                        good product trusted seller       5
4058                                 sudah beli yg ke 3       5
4059                                    byk campurannya       4

[4060 rows x 3 columns]

In [20]:
df_crawl_cleaned.loc[df_crawl_cleaned['Sentiment'] == 'negative']

Empty DataFrame
Columns: [Review, Rating, Sentiment]
Index: []