In [1]:
import numpy as np
import pandas as pd

In [2]:
df_label_manual = pd.read_csv('dataset_review_tokped_labelling_manually.csv', sep=';')

In [3]:
df_label_manual

,"Review,Rating,Sentiment",Label,Unnamed: 2,Unnamed: 3
0,"enak kuacinya,5,",P,NaN,NaN
1,pengiriman cepat packing bagus sesuai pesanan ...,P,NaN,NaN
2,pengemasan luar biasa baik untuk rasa menurut ...,N,NaN,NaN
3,"terimakasih min,5,",P,NaN,NaN
4,"udah order untuk kesekian kali jos,5,",P,NaN,NaN
...,...,...,...,...
4055,seller sangat responsif rasa belum dicoba kare...,P,NaN,NaN
4056,"imut2 banget packing aman,5,",P,NaN,NaN
4057,"good product trusted seller,5,",P,NaN,NaN
4058,"sudah beli yg ke 3,5,",P,NaN,NaN
4059,"byk campurannya,4,",N,NaN,NaN

In [4]:
# Change label P to Postive
df_label_manual['Label'] = df_label_manual['Label'].str.replace('P','Positive')

In [5]:
df_label_manual

,"Review,Rating,Sentiment",Label,Unnamed: 2,Unnamed: 3
0,"enak kuacinya,5,",Positive,NaN,NaN
1,pengiriman cepat packing bagus sesuai pesanan ...,Positive,NaN,NaN
2,pengemasan luar biasa baik untuk rasa menurut ...,N,NaN,NaN
3,"terimakasih min,5,",Positive,NaN,NaN
4,"udah order untuk kesekian kali jos,5,",Positive,NaN,NaN
...,...,...,...,...
4055,seller sangat responsif rasa belum dicoba kare...,Positive,NaN,NaN
4056,"imut2 banget packing aman,5,",Positive,NaN,NaN
4057,"good product trusted seller,5,",Positive,NaN,NaN
4058,"sudah beli yg ke 3,5,",Positive,NaN,NaN
4059,"byk campurannya,4,",N,NaN,NaN

In [6]:
# Change label N to Negative
df_label_manual['Label'] = df_label_manual['Label'].str.replace('N','Negative')
df_label_manual

,"Review,Rating,Sentiment",Label,Unnamed: 2,Unnamed: 3
0,"enak kuacinya,5,",Positive,NaN,NaN
1,pengiriman cepat packing bagus sesuai pesanan ...,Positive,NaN,NaN
2,pengemasan luar biasa baik untuk rasa menurut ...,Negative,NaN,NaN
3,"terimakasih min,5,",Positive,NaN,NaN
4,"udah order untuk kesekian kali jos,5,",Positive,NaN,NaN
...,...,...,...,...
4055,seller sangat responsif rasa belum dicoba kare...,Positive,NaN,NaN
4056,"imut2 banget packing aman,5,",Positive,NaN,NaN
4057,"good product trusted seller,5,",Positive,NaN,NaN
4058,"sudah beli yg ke 3,5,",Positive,NaN,NaN
4059,"byk campurannya,4,",Negative,NaN,NaN

In [7]:
df_label_manual.columns

Index(['Review,Rating,Sentiment', 'Label', 'Unnamed: 2', 'Unnamed: 3'], dtype='object')

In [8]:
df_label_manual = df_label_manual.drop(['Review,Rating,Sentiment','Unnamed: 2', 'Unnamed: 3'], axis = 1)

In [9]:
df_label_manual

         Label
0     Positive
1     Positive
2     Negative
3     Positive
4     Positive
...        ...
4055  Positive
4056  Positive
4057  Positive
4058  Positive
4059  Negative

[4060 rows x 1 columns]

In [10]:
df_label_manual.to_csv('data_review_label.csv', index=False)

In [11]:
df_reviewed_labelled = pd.read_csv('dataset_review_tokped_labelled.csv')